---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" as="font" href="/fonts/Heyam.ttf" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/LilitaOne-Regular.tff" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/Poppins-Regular.tff" type="font/ttf" crossorigin="anonymous">
		<meta property="og:image" content="https://www.bluey.tv/wp-content/uploads/2024/02/GB-Sq.png">
		<meta property="og:image:width" content="1920">
		<meta property="og:image:height" content="1080">
		<meta property="og:title" content={title}>
		<meta property="og:site_name" content={title}>
		<meta property="og:image:type" content="image/png">
		<meta property="og:description" content={description}>
		<meta property="og:type" content="website">
		<meta property="og:locale" content="es-ES">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: Heyam;
		src: url('/fonts/Heyam.ttf');
		font-weight: normal;
	}

	@font-face {
		font-family: LilitaOne;
		src: url('/fonts/LilitaOne-Regular.ttf');
		font-weight: normal;
	}

	@font-face {
		font-family: Poppins;
		src: url('/fonts/Poppins-Regular.ttf');
		font-weight: normal;
	}

	.heyam-font {
		font-family: Heyam, sans-serif;
		letter-spacing: 3px;
	}

	.lilitaOne-font {
		font-family: LilitaOne, sans-serif;
	}

	.poppins-font {
		font-family: Poppins, sans-serif;
	}


  @keyframes balloonAnimation {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-80px);
    }

    100% {
      transform: translateY(0px);
    }
  }
</style>